<div class="row">
  <div class="col-12">

    <div class="card w-100">
      <div class="border-botton">
        <h1 class="card-title mb-0">Lista de recompensas por usuario</h1>
      </div>
      <div class="card-body">
        <h4>Insertar tabla aquí de acuerdo a los puntos del cliente <span class="badge bg-secondary">New</span></h4>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Contactar cliente</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title">Información</h4>
        <div class="row gap-2">
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-primary
                w-100
                d-block
                text-primary
                font-medium
              "
            >
            Llamar <span class="badge ms-auto bg-primary"></span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-info
                w-100
                d-block
                text-info
                font-medium
              "
            >
              Info <span class="badge ms-auto bg-info">!</span>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
